* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(/public/image/home.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.banner::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.676);
}
a {
  text-align: center;
  color: rgb(33, 255, 222);
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}
.text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.text h1 {
  font-size: 70px;
  margin-top: 80px;
}

#center {
  text-align: center;
}
#button {
  padding: 15px 15px;
  margin-top: 50%;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
  z-index: 1;
}

#button span {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 23px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

#button:hover {
  padding: 15px 40px;
}

#button:hover span {
  width: 100%;
}

.banner2 {
  width: 100%;
  height: 100vh;
  background-image: url(/public/image/2page.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.banner2:after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#line {
  width: 100%;
  height: 100%;
  color: #fff;
}

.heding h1 {
  font-size: 70px;
  margin-top: 80px;
  color: #fff;
}

.heding h5 {
  font-size: 30px;
  margin-top: 80px;
  color: #fff;
  /* text-shadow: #009688 1px 1px; */
}

.bdr {
  margin-top: 5px;
}
.bdr2 {
  background-color: transparent;
  margin: 2px;
  margin-top: 10px;
  border: 3px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font: bold;
  text-shadow: #009688 5px 2px;
  padding: 2px;
}
#bg {
  height: 100%;
  width: 100%;
  background-image: url(/public/image/3rdpage.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  transform: none;
}

#view {
  padding: 10px 10px;
  margin-top: 50%;
  margin: 5px 2px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #a36c32c3;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
}
